.title {
  border-bottom: 1px solid #9a9898;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.title-name {
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 600 !important;
}

.title-icon {
  margin-left: auto;
  margin-right: 20px;
}

.iconx {
  color: #9a9898;
  font-size: 1.5rem;
  border: 1px solid #9a9898;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}
.bi:hover {
  color: #667085;
}

.select {
  display: flex;
  gap: 50px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.form-select {
  color: #667085;
}

.table-full {
  margin-right: 15px;
}
.table,
th,
td,
tr {
  color: black;
  border: 1px solid black;
}

.table thead th {
  padding-bottom: 20px;
  font-weight: normal;
}

.center {
  text-align: center;
}

/*css select1*/
.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-selected {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
  color: #495057;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.down {
  margin-left: 20px;
  margin-right: 20px;
}

.select-items {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;
  z-index: 99;
  max-height: 180px;
  overflow-y: auto;
}

.select-items.show {
  display: block;
}

.select-option {
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #495057;
}

.select-option:hover {
  background-color: #e9ecef;
}

.select-option-image {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}

.select-hide {
  display: none;
}

/*css select1*/

.check > label {
  margin: 30px;
}

.dropdown-menu {
  max-height: 200px;
  width: 100%;
  overflow-y: auto;
}
.dropdown-menu > .list-group-item {
  display: flex;
  margin: 15px;
}
.dropdown-menu > .list-group-item:hover {
  background-color: #ced4da !important;
  border-radius: 5px !important;
}

.form-check {
  margin: 15px;
}
.form-check-input:checked {
  background-color: orangered;
  border-color: white;
}
.form-check:hover {
  background-color: #ced4da;
  border-radius: 5px;
}
.size {
  border: 1px solid #ddd;
}
.size:hover {
  background-color: #f1f1f1;
}
.select-color {
  margin: 50px;
}
.search {
  padding: 10px;
  padding-left: 30px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid rgb(155, 152, 152);
}
.search:focus {
  border-color: #ddd; 
  box-shadow: 0 0 5px rgb(155, 152, 152); 
}

.search::placeholder {
  color: black; 
  font-size: inherit;
  
}

.search:focus {
  outline: none;
}

.input-container {
  position: relative;
  width: 100%;
}

.icon-search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
}

.table-container {
  position: relative;
  overflow: hidden;
}

.viewport {
  height: 400px; 
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.header-row th, .subheader-row td {
  position: sticky;
  background: #f1f1f1; 
  z-index: 1;
}

.header-row th {
  top: 0;
  z-index: 2;
}

.subheader-row td {
  top: 53px; 
  z-index: 1;
}

th, td {
  border: 1px solid #ddd; 
}
.up1:hover{
   color: orange;
}
.btn-all{
   padding: 6px 12px 6px 12px;
   width: 100%;
   border: 1px solid #ddd;
   border-radius: 5px;
   background-color: white;
}
.btn-all:hover{
  background-color: #f1f1f1;
}