<div>
  <div class="title" *ngIf="productData">
    <div class="title-name">
      {{ productData.display_name}}
    </div>
    <div class="title-icon">
      <a class="btn-icon">
        <i class="bi bi-x"></i>
      </a>
    </div>
  </div>

  <div class="select">
    <div *ngIf="productData?.base_sku && productData?.base_sku?.length">
      <select class="form-select" aria-label="Default select example">  
        <option value="" selected>Fulfillment facility: All</option>
        <option *ngFor="let sku of ((productData?.base_sku ?? []) | uniqueLocation)" [value]="sku.id">         
          {{ sku.location_name }}
        </option>
      </select>
    </div>
    

    <div>
      <select class="form-select" aria-label="Default select example">
        <option selected>Size: All</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

    <div>
      <select class="form-select" aria-label="Default select example">
        <option selected>Color: All</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="table-full">
    <table class="table">
      <thead>
        <tr>
          <th rowspan="2">Fulfillment facility</th>
          <th rowspan="2">Size</th>
          <th rowspan="2">Color</th>
          <th rowspan="2">SKU</th>
          <th rowspan="2">Base cost</th>
          <th rowspan="2">2nd price</th>
          <th colspan="4">Shipping fee</th>
        </tr>
        <tr>
          <td>US</td>
          <td>US addition</td>
          <td>WW</td>
          <td>WW addition</td>
        </tr>
      </thead>
      <tbody *ngIf="productData?.base_sku && productData?.base_sku?.length">
        <tr *ngFor="let sku of productData?.base_sku">
          <td>
            <img src="https://d1ud88wu9m1k4s.cloudfront.net/icons/ic_Tier_Standard_24x24.svg">
            <span>
              {{ sku.location_name }}
            </span>
          </td>
          <td>{{ sku.size_name }}</td>
          <td>{{ sku.color_name }}</td>
          <td>{{ sku.sku }}</td>
          <td>${{ sku.base_cost }}</td>
          <td>${{ sku.second_side_price }}</td>
          <td>${{ sku.shipping_cost_us }}</td>
          <td>${{ sku.shipping_adding_us }}</td>
          <td>${{ sku.shipping_cost_ww }}</td>
          <td>${{ sku.shipping_adding_ww }}</td>
      </tbody>
    </table>
  </div>

</div>