<div>
  <div class="title" *ngIf="productData">
    <div class="title-name">
      {{ productData.display_name }}
    </div>
    <div class="title-icon">
      <a class="btn-icon">
        <i class="bi bi-x iconx"></i>
      </a>
    </div>
  </div>
  <div class="select">
    <div>
      <button (click)="clickAll()" class="btn-all">ALL</button>
    </div>
    <div>
      <div class="dropdown">
        <button
          class="btn dropdown-toggle btn-all"
          type="button"
          id="dropdownMenuButton"
          (click)="toggleDropdown3()"
        >
          Select Fulfillment facility
        </button>
        <ul
          class="dropdown-menu"
          [class.show]="dropdownOpen3"
          aria-labelledby="dropdownMenuButton"
        >
          <li *ngFor="let sku of productData?.base_sku ?? [] | uniqueLocation">
            <div class="form-check" (click)="onCheckboxLabelClick2(sku.location_name)">
              <input
                type="checkbox"
                class="form-check-input"
                [value]="sku.location_name"
                (change)="onCheckboxChange3($event, sku.location_name)"
                [checked]="selectedOption.includes(sku.location_name)"
              />
              <label class="form-check-label">
                {{ sku.location_name }}
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div class="dropdown">
        <button
          class="btn dropdown-toggle btn-all"
          type="button"
          id="dropdownMenuButton"
          (click)="toggleDropdown()"
        >
          Select Sizes
        </button>
        <ul
          class="dropdown-menu"
          [class.show]="dropdownOpen"
          aria-labelledby="dropdownMenuButton"
        >
          <li *ngFor="let option of sizeOptions">
            <div class="form-check" *ngFor="let value of option.values" (click)="onCheckboxLabelClick(value.id)">
              <input
                type="checkbox"
                class="form-check-input"
                [value]="value.id"
                (change)="onCheckboxChange($event, value.id)"
                [checked]="selectedSize.includes(value.id)"
                
              />
              <label class="form-check-label">
                {{ value.name }}
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <div class="dropdown">
        <button
          class="btn dropdown-toggle btn-all"
          type="button"
          id="dropdownMenuButton"
          (click)="toggleDropdown1()"
        >
          Select Color
        </button>
        <ul
          class="dropdown-menu"
          [class.show]="dropdownOpen1"
          aria-labelledby="dropdownMenuButton"
        >
          <li *ngFor="let option of sizeOptions1">
            <div class="form-check" *ngFor="let value of option.values" (click)="onCheckboxLabelClick1(value.id)">
              <input
                type="checkbox"
                class="form-check-input"
                [value]="value.id"
                (change)="onCheckboxChange2($event, value.id)"
                [checked]="selectedColor.includes(value.id)"
              />
              <label class="form-check-label">
                {{ value.name }}
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="dropdown">
      <button
        class="btn dropdown-toggle btn-all"
        type="button"
        id="dropdownMenuButton"
        (click)="toggleDropdown2()"
      >
        Select header
      </button>
      <ul
        class="dropdown-menu"
        [class.show]="dropdownOpen2"
        aria-labelledby="dropdownMenuButton"
      >
        <li class="list-group-item">
          <input
            class="form-check-input me-1"
            id="checkbox-fulfillment"
            [(ngModel)]="showname"
            type="checkbox"
            (change)="onCheckboxChange1()"
            value=""
            aria-label="..."
          />
          <label for="checkbox-fulfillment"> Fulfillment facility </label>
        </li>
        <li class="list-group-item">
          <input
            class="form-check-input me-1"
            id="checkbox-size"
            [(ngModel)]="showsize"
            type="checkbox"
            (change)="onCheckboxChange1()"
            value=""
            aria-label="..."
          />
          <label for="checkbox-size"> Show Size </label>
        </li>
        <li class="list-group-item">
          <input
            class="form-check-input me-1"
            id="checkbox-color"
            [(ngModel)]="showcolor"
            type="checkbox"
            (change)="onCheckboxChange1()"
            value=""
            aria-label="..."
          />
          <label for="checkbox-color"> Show Color </label>
        </li>
        <li class="list-group-item">
          <input
            class="form-check-input me-1"
            id="checkbox-sku"
            [(ngModel)]="showsku"
            type="checkbox"
            (change)="onCheckboxChange1()"
            value=""
            aria-label="..."
          />
          <label for="checkbox-sku"> Show SKU </label>
        </li>
        <li class="list-group-item">
          <input
            class="form-check-input me-1"
            id="checkbox-cost"
            [(ngModel)]="showBaseCost"
            type="checkbox"
            (change)="onCheckboxChange1()"
            value=""
            aria-label="..."
          />
          <label for="checkbox-cost"> Show Base cost </label>
        </li>
        <li class="list-group-item">
          <input
            class="form-check-input me-1"
            id="checkbox-price"
            [(ngModel)]="showSecondPrice"
            type="checkbox"
            (change)="onCheckboxChange1()"
            value=""
            aria-label="..."
          />
          <label for="checkbox-price"> Show 2nd price </label>
        </li>
        <li class="list-group-item">
          <input
            class="form-check-input me-1"
            id="checkbox-fee"
            [(ngModel)]="showship"
            type="checkbox"
            (change)="onCheckboxChange1()"
            value=""
            aria-label="..."
          />
          <label for="checkbox-fee"> Show Shipping fee </label>
        </li>
      </ul>
    </div>

    <div class="input-container">
      <i class="bi bi-search-heart icon-search"></i>
      <input
        class="search"
        type="text"
        placeholder="Enter search keyword of sku ........."
        [(ngModel)]="searchTerm"
        (input)="filterItems()"
      />
      <p *ngIf="specialCharWarning" class="warning-message">Special characters are not allowed!</p>
    </div>
  </div>

  <div>
      <table class="table">
        <thead>
          <tr class="th1">
            <th *ngIf="showname" rowspan="2">
              Fulfillment facility
              <i class="bi up1" 
              [ngClass]="{
                'bi-arrow-down-up': sortColumn !== 'location_name',
                'bi-sort-up-alt': sortColumn === 'location_name' && isAscending,
                'bi-sort-down-alt': sortColumn === 'location_name' && !isAscending
              }"
              (click)="sortData('location_name')"></i>
            </th>


            <th *ngIf="showsize" rowspan="2">
              Size
              <i class="bi up1" 
              [ngClass]="{
                'bi-arrow-down-up': sortColumn !== 'size_name',
                'bi-sort-up-alt': sortColumn === 'size_name' && isAscending,
                'bi-sort-down-alt': sortColumn === 'size_name' && !isAscending
              }"
              (click)="sortData('size_name')"></i>
            </th>


            <th *ngIf="showcolor" rowspan="2">
              Color
              <i class="bi up1" 
              [ngClass]="{
                'bi-arrow-down-up': sortColumn !== 'color_name',
                'bi-sort-up-alt': sortColumn === 'color_name' && isAscending,
                'bi-sort-down-alt': sortColumn === 'color_name' && !isAscending
              }"
              (click)="sortData('color_name')"></i>
            </th>


            <th *ngIf="showsku" rowspan="2">
              SKU
              <i class="bi up1" 
              [ngClass]="{
                'bi-arrow-down-up': sortColumn !== 'sku',
                'bi-sort-up-alt': sortColumn === 'sku' && isAscending,
                'bi-sort-down-alt': sortColumn === 'sku' && !isAscending
              }"
              (click)="sortData('sku')"></i>
            </th>


            <th  *ngIf="showBaseCost" rowspan="2">
              Base cost
              <i class="bi up1" 
              [ngClass]="{
                'bi-arrow-down-up': sortColumn !== 'base_cost',
                'bi-sort-up-alt': sortColumn === 'base_cost' && isAscending,
                'bi-sort-down-alt': sortColumn === 'base_cost' && !isAscending
              }"
              (click)="sortData('base_cost')"></i>
            </th>


            <th *ngIf="showSecondPrice" rowspan="2">
              2nd price
              <i class="bi up1" 
              [ngClass]="{
                'bi-arrow-down-up': sortColumn !== 'second_side_price',
                'bi-sort-up-alt': sortColumn === 'second_side_price' && isAscending,
                'bi-sort-down-alt': sortColumn === 'second_side_price' && !isAscending
              }"
              (click)="sortData('second_side_price')"></i>
            </th>


            <th *ngIf="showship" class="center" colspan="4">Shipping fee</th>
          </tr>
          <tr *ngIf="showship" class="th2">
            <th>
              US
              <i class="bi up1" 
              [ngClass]="{
                'bi-arrow-down-up': sortColumn !== 'shipping_cost_us',
                'bi-sort-up-alt': sortColumn === 'shipping_cost_us' && isAscending,
                'bi-sort-down-alt': sortColumn === 'shipping_cost_us' && !isAscending
              }"
              (click)="sortData('shipping_cost_us')"></i>
            </th>

            <th>
              US addition
              <i class="bi up1" 
              [ngClass]="{
                'bi-arrow-down-up': sortColumn !== 'shipping_adding_us',
                'bi-sort-up-alt': sortColumn === 'shipping_adding_us' && isAscending,
                'bi-sort-down-alt': sortColumn === 'shipping_adding_us' && !isAscending
              }"
               (click)="sortData('shipping_adding_us')"></i>
            </th>

            <th>
              WW
              <i class="bi up1" 
              [ngClass]="{
                'bi-arrow-down-up': sortColumn !== 'shipping_cost_ww',
                'bi-sort-up-alt': sortColumn === 'shipping_cost_ww' && isAscending,
                'bi-sort-down-alt': sortColumn === 'shipping_cost_ww' && !isAscending
              }"
                (click)="sortData('shipping_cost_ww')"></i>
            </th>

            <th>
              WW addition
              <i class="bi up1" 
              [ngClass]="{
                'bi-arrow-down-up': sortColumn !== 'shipping_adding_ww',
                'bi-sort-up-alt': sortColumn === 'shipping_adding_ww' && isAscending,
                'bi-sort-down-alt': sortColumn === 'shipping_adding_ww' && !isAscending
              }"
                (click)="sortData('shipping_adding_ww')"></i>
            </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sku of filteredList">
            <td *ngIf="showname">
              <img [src]="sku.location_icon">
              <span>
                {{ sku.location_name }}
              </span>
            </td>
            <td *ngIf="showsize">{{ sku.size_name }}</td>
            <td *ngIf="showcolor">{{ sku.color_name }}</td>
            <td *ngIf="showsku">{{ sku.sku }}</td>
            <td *ngIf="showBaseCost">${{ sku.base_cost }}</td>
            <td *ngIf="showSecondPrice">${{ sku.second_side_price }}</td>
            <td *ngIf="showship">${{ sku.shipping_cost_us }}</td>
            <td *ngIf="showship">${{ sku.shipping_adding_us }}</td>
            <td *ngIf="showship">${{ sku.shipping_cost_ww }}</td>
            <td *ngIf="showship">${{ sku.shipping_adding_ww }}</td>
        </tbody>
      </table>
      <app-message [error]="error"  [success]="success"></app-message> 
  </div>
</div>

