.title {
    border-bottom: 1px solid #9a9898;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    margin-right: 15px; 
}

.title-name {
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 600 !important;
}

.title-icon {
    margin-left: auto;
    margin-right: 20px;
}

.iconx {
    color: #9a9898;
    font-size: 1.5rem;
    border: 1px solid #9a9898;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    
}
.bi:hover{
    color: #667085;
}



.select{
    display: flex;
    gap: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.form-select{
   color: #667085;
}


.table-full{
    margin-left: 15px; 
    max-height: calc(100vh - 15.1rem);
    overflow-x: auto;
    margin-right: 15px; 
}
.table, th, td{
    border: 1px solid #667085;
    border-collapse: collapse;
    color: black;
}

.table thead th{
  padding-bottom: 20px;
  font-weight: normal; 
}

.center {
    text-align: center;
}


/*css select1*/
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .select-selected {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    font-size: 1rem;
    color: #495057;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
.down{
    margin-left: 20px;
    margin-right: 20px;
}
  
  .select-items {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 100%;
    z-index: 99;
    max-height: 180px;
    overflow-y: auto;
  }
  
  .select-items.show {
    display: block;
  }
  
  .select-option {
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #495057;
  }
  
  .select-option:hover {
    background-color: #e9ecef;
  }
  
  .select-option-image {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .select-hide {
    display: none; 
  }
  
  /*css select1*/

  .check>label{
    margin: 30px;
  }