.title {
  border-bottom: 1px solid #9a9898;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.title-name {
  text-align: center;
  border-radius: 20px;
  font-size: 40px;
  color: #2c2c2c;
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
  height: 80px;
  padding-top: 5px;
}


.title-icon {
  margin-left: auto;
  margin-right: 20px;
}

.iconx {
  color: #9a9898;
  font-size: 1.5rem;
  border: 1px solid #9a9898;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}
.bi:hover {
  color: #667085;
}

.select {
  display: flex;
  gap: 50px;
  margin-left: 15px;
  margin-bottom: 40px;
}
@media (max-width: 600px) {
  .select{
    display: grid;
  }
}


.form-select {
  color: #667085;
}


/*css select1*/
.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-selected {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
  color: #495057;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.down {
  margin-left: 20px;
  margin-right: 20px;
}

.select-items {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;
  z-index: 99;
  max-height: 180px;
  overflow-y: auto;
}

.select-items.show {
  display: block;
}

.select-option {
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #495057;
}

.select-option:hover {
  background-color: #e9ecef;
}

.select-option-image {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}

.select-hide {
  display: none;
}

/*css select1*/

.check > label {
  margin: 30px;
}

.dropdown-menu {
  max-height: 200px;
  width: 100%;
  overflow-y: auto;
}
.dropdown-menu > .list-group-item {
  display: flex;
  margin: 15px;
}
.dropdown-menu > .list-group-item:hover {
  background-color: #ced4da !important;
  border-radius: 5px !important;
}

.form-check {
  margin: 15px;
}
.form-check-input:checked {
  background-color: rgb(145, 145, 145);
  border-color: white;
}
.form-check:hover {
  background-color: rgb(248, 167, 35);
  border-radius: 5px;
}
.size {
  border: 1px solid #ddd;
}
.size:hover {
  background-color: #f1f1f1;
}
.select-color {
  margin: 50px;
}
.search {
  padding: 10px;
  padding-left: 30px;
  width: 500px;
  border-radius: 20px;
  border: 1px solid rgb(155, 152, 152);
}
.search:focus {
  border-color: #ddd; 
  box-shadow: 0 0 5px rgb(155, 152, 152); 
}

.search::placeholder {
  color: black; 
  font-size: inherit;
  
}

.search:focus {
  outline: none;
}

.input-container {
  position: relative;
  width: 100%;
}

.icon-search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: orange;
}


.center {
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse; 
}

 td {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: left;
  
}
th{
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.th1 th {
  top: 0; 
  z-index: 3;
}

.th2 th {
  top: 40px;
  z-index: 2;
}
thead th {
  position: sticky;
  top: 0;
  background: orange; 
  z-index: 2; 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
thead th[rowspan="2"] {
  vertical-align: middle; 
}

tbody td:hover{
   color: #ddd;
}
.up1:hover{
   color: white;
}

.up1{
  cursor: pointer;
  padding: 10px; 
}
.btn-all{
  padding: 6px 12px 6px 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid orange;
}
.btn-all:hover{
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid orange;
  box-shadow: 4px 5px 17px -4px orange;
}
.btn-all::before
{
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: orange;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;

}
.btn-all:hover::before {
  width: 250%;
}

.warning-message {
  color: red;
  font-size: 15px;
  font-weight: 600;
  margin: 5px;
  position: absolute
}


